{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}<title>Остатки</title>{% endblock %}
{% block own_css %}
    <style>
        .full-td-input {
            border: 0 !important;
            border-radius: 0 !important;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="container">
        {% if remain_form %}

            <div class="shadow p-3 mb-5 mt-3 bg-body rounded">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <h1 class="fw-light fw-bold">ОАО «Белвторресурсы»</h1>
                    <h3>учет остатков материальных ресурсов на приемно-заготовительных пунктах</h3>
                </div>

                <p class="fs-5">Номер участка - <span class="fs-4">{{ remains.sector.sector_number }}</span></p>
                <p class="fs-5">Адрес участка - <span class="fs-4">{{ remains.sector.sector_address }}</span></p>
            </div>

            <p class="mt-3 mb-0 fs-4">Дата и время последнего редактирования</p>
            <h3 class="my-2-0">{{ remains.date_time_updated }}</h3>
            <form action="{% url 'bvr:remains-update-form' remain_id=remains.id %}" method="post"
                  class="needs-validation"
                  novalidate>{% csrf_token %}
                <input type="hidden" name="sector" value="{{ remains.sector.id }}">
               {% include 'bvr/remains/common/input_form.html' %}

                <div class="d-flex flex-column">
                    <button type="submit" class="btn btn-success mb-3">ГОТОВО</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.reload()">ОТМЕНИТЬ</button>
                </div>

                <div class="mb-4"></div>
            </form>
        {% else %}
            <h1>Вам не назначен участок. Обратитесь к системному администратору</h1>
        {% endif %}
    </div>

{% endblock %}

{% block own_js %}
<script>
    function clear_input(input_id, checkbox_id) {
    const input = document.getElementById(input_id);
    const checkbox = document.getElementById(checkbox_id);
    input.value = "";
    checkbox.checked = false;

    }
</script>
<script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
{% endblock %}