{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}<title>Остатки</title>{% endblock %}
{% block content %}

    <div class="container">
        {% if remain_form %}

            <h3 class="my-3">Дата и время последнего редактирования - {{ last_updated }}</h3>
            <form>
                <div class="mb-3">
                    <label class="form-label">Макулатура (количество, кг)</label>
                    {% render_field remain_form.wastepaper_count class+="form-control" min=0 %}
                    {% render_field remain_form.wastepaper_needs_exportation class+="form-check-input" min=0 %}
                    <label class="form-check-label">Нужен вывоз</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Стеклобой (количество, кг)</label>
                    {% render_field remain_form.cullet_count class+="form-control" min=0 %}
                    {% render_field remain_form.cullet_needs_exportation class+="form-check-input" min=0 %}
                    <label class="form-check-label">Нужен вывоз</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Полиэтилен (количество, кг)</label>
                    {% render_field remain_form.polyethylene_count class+="form-control" min=0 %}
                    {% render_field remain_form.polyethylene_needs_exportation class+="form-check-input" min=0 %}
                    <label class="form-check-label">Нужен вывоз</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Металлолом (количество, кг)</label>
                    {% render_field remain_form.scrap_metal_count class+="form-control" min=0 %}
                    {% render_field remain_form.scrap_metal_needs_exportation class+="form-check-input" min=0 %}
                    <label class="form-check-label">Нужен вывоз</label>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        {% else %}
            <h1>Вам не назначен участок. Обратитесь к системному администратору</h1>
        {% endif %}
    </div>

{% endblock %}

{% block own_js %}

{% endblock %}