{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}<title>Новый участок</title>{% endblock %}
{% block content %}
    <div class="container">
        {% if request.user.is_superuser %}
            <form action="{% url 'bvr:sector-add-form' %}" method="post" class="needs-validation"
                  novalidate>{% csrf_token %}
                {% include 'bvr/sectors/common/input_form.html' %}
                <h3>Автоматически будет создан пользователь с учетными данными:</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Логин (соответствует номеру участка)</label><br>
                            <input type="text" class="form-control" id="id_username_sector" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Пароль для входа</label><br>
                            <input type="text" class="form-control" name="password" required>
                            <div class="invalid-feedback">
                                Поле, обязательно для заполнения!
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Создать</button>
                <div class="mb-4"></div>
            </form>

        {% else %}
            У Вас недостаточно прав для просмотра этой страницы
        {% endif %}
    </div>

{% endblock %}

{% block own_js %}
    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

    </script>
    <script>
        $("#id_sector_number").on("change", function () {
            $("#id_username_sector").val($(this).val());

        });
    </script>

{% endblock %}