{% load static %}
{% load url_replace %}
<nav aria-label="...">
    <ul class="pagination pagination-sm">
        {% if remains_list.has_previous %}
            <li class="page-item">
                <a class="btn btn-outline-dark"
                   href="?{% url_replace request 'page' remains_list.previous_page_number %}"><span
                        aria-hidden="true">&laquo;</span></a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="btn btn-outline-dark disabled" href="#"><span
                        aria-hidden="true">&laquo;</span></a>
            </li>
        {% endif %}
        <li class="page-item d-flex align-items-center disabled">
            <b>&nbsp;&nbsp;Страница {{ remains_list.number }}
                из {{ remains_list.paginator.num_pages }}&nbsp;&nbsp;</b>
        </li>
        {% if remains_list.has_next %}
            <li class="page-item">
                <a class="btn btn-outline-dark"
                   href="?{% url_replace request 'page' remains_list.next_page_number %}"><span
                        aria-hidden="true">&raquo;</span></a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="btn btn-outline-dark disabled" href="#"><span
                        aria-hidden="true">&raquo;</span></a>
            </li>
        {% endif %}
    </ul>
</nav>