{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load url_replace %}
{% block title %}<title>Пользователи</title>{% endblock %} {% block content %}

    <div class="container">
        {% if request.user.is_superuser %}
            <div class="shadow-lg p-3 my-4 bg-body rounded">
                <h3>
                    <a class="btn btn-link" data-bs-toggle="collapse" href="#filterCollapse" role="button"
                       aria-expanded="false"
                       aria-controls="collapseExample">
                        Форма поиска
                    </a>
                     <a class="btn btn-link" href="{% url 'bvr:users' %}">
                        Сбросить фильтр
                    </a>
                </h3>
                <div class="collapse" id="filterCollapse">
                    {% include 'bvr/users/filter.html' %}
                </div>
            </div>

            {% if users_list %}
                <h3 class="my-3">Пользователи</h3>
                <p class="fs-5">Найдено записей - <b>{{ filter.qs.count }}</b></p>
                {#                {% include 'bvr/users/common/paginator.html' %}#}
                <table class="table table-hover table-striped">
                    <thead class="table-warning">
                    <tr>
                        <th scope="col" class="text-center align-middle">

                            <div class="d-flex align-items-center">
                                Имя пользователя
                                <div class="d-flex flex-column ms-3">
                                    <a style="font-size: 0px;"
                                       href="?{% url_replace request 'o' 'username' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                        </svg>
                                    </a>

                                    <a style="font-size: 0px;"
                                       href="?{% url_replace request 'o' '-username' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="text-center align-middle">

                            <div class="d-flex align-items-center">
                                Участок
                                <div class="d-flex flex-column ms-3">
                                    <a style="font-size: 0px;"
                                       href="?{% url_replace request 'o' 'sector' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                        </svg>
                                    </a>

                                    <a style="font-size: 0px;"
                                       href="?{% url_replace request 'o' '-sector' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="text-center align-middle">


                            <div class="d-flex align-items-center">
                                Фамилия
                                <div class="d-flex flex-column ms-3">
                                    <a style="font-size: 0px;"
                                       href="?{% url_replace request 'o' 'last_name' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                        </svg>
                                    </a>

                                    <a style="font-size: 0px;"
                                       href="?{% url_replace request 'o' '-last_name' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </th>
<!--                        <th scope="col" class="text-center align-middle">-->
<!--                            <div class="d-flex align-items-center">-->
<!--                                Имя-->
<!--                                <div class="d-flex flex-column ms-3">-->
<!--                                    <a style="font-size: 0px;"-->
<!--                                       href="?{% url_replace request 'o' 'first_name' %}">-->
<!--                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"-->
<!--                                             fill="currentColor"-->
<!--                                             class="bi bi-caret-up-fill" viewBox="0 0 16 16">-->
<!--                                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>-->
<!--                                        </svg>-->
<!--                                    </a>-->

<!--                                    <a style="font-size: 0px;"-->
<!--                                       href="?{% url_replace request 'o' '-first_name' %}">-->
<!--                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"-->
<!--                                             fill="currentColor"-->
<!--                                             class="bi bi-caret-down-fill" viewBox="0 0 16 16">-->
<!--                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>-->
<!--                                        </svg>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </th>-->
                        <th scope="col" class="text-center align-middle">
                            <div class="d-flex align-items-center">
                                Активный
                                <div class="d-flex flex-column ms-3">
                                    <a style="font-size: 0px;"
                                       href="?{% url_replace request 'o' 'is_active' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                        </svg>
                                    </a>

                                    <a style="font-size: 0px;"
                                       href="?{% url_replace request 'o' '-is_active' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="text-center align-middle">

                            <div class="d-flex align-items-center">
                                Суперпользователь
                                <div class="d-flex flex-column ms-3">
                                    <a style="font-size: 0px;"
                                       href="?{% url_replace request 'o' 'is_superuser' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                        </svg>
                                    </a>

                                    <a style="font-size: 0px;"
                                       href="?{% url_replace request 'o' '-is_superuser' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="text-center align-middle">
                            <div class="d-flex align-items-center">
                                Дата регистрации
                                <div class="d-flex flex-column ms-3">
                                    <a style="font-size: 0px;"
                                       href="?{% url_replace request 'o' 'date_joined' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                        </svg>
                                    </a>

                                    <a style="font-size: 0px;"
                                       href="?{% url_replace request 'o' '-date_joined' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="text-center align-middle">
                            <div class="d-flex align-items-center">
                                Дата последнего входа
                                <div class="d-flex flex-column ms-3">
                                    <a style="font-size: 0px;"
                                       href="?{% url_replace request 'o' 'last_login' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                        </svg>
                                    </a>

                                    <a style="font-size: 0px;"
                                       href="?{% url_replace request 'o' '-last_login' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="text-center align-middle"></th>
{#                        <th scope="col" class="text-center align-middle"></th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users_list %}
                        <tr>
                            <td class="text-center align-middle">{{ user.username }}</td>
                            <td class="text-center align-middle">{{ user.sector.sector_number }}</td>
                            <td class="text-center align-middle">{{ user.last_name|default:"" }}</td>
<!--                            <td class="text-center align-middle">{{ user.first_name|default:"Нет данных" }}</td>-->
                            <td class="text-center align-middle">
                                {% if user.is_active %}
                                    <i class="fas fa-check"></i>
                                {% else %}{% endif %}
                            </td>
                            <td class="text-center align-middle">
                                {% if user.is_superuser %}
                                    <i class="fas fa-check"></i>
                                {% else %}{% endif %}
                            </td>
                            <td class="text-center align-middle">{{ user.date_joined|default_if_none:"" }}</td>
                            <td class="text-center align-middle">{{ user.last_login|default_if_none:"" }}</td>
                            <td class="text-center align-middle"><a href="{% url 'bvr:user-update-form' user_id=user.id %}"><i class="fas fa-edit"></i></a></td>
{#                            <td class="text-center align-middle"><i class="fas fa-trash"></i></td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'bvr/users/common/paginator.html' %}
            {% else %}
                <p class="fs-5">Записей не найдено</p>
            {% endif %}
        {% else %} У Вас недостаточно прав для просмотра этой страницы
        {% endif %}
    </div>

{% endblock %} {% block own_js %} {% endblock %}
