{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load url_replace %}
{% block title %}<title>Пользователи</title>{% endblock %}
{% block content %}


    <div class="container">
        <div class="mb-4"></div>
        <h3>Смена пароля для пользователя {{ user.username }}</h3>
        <form class="needs-validation" action="{% url 'bvr:user-change-password' user_id=user.id %}" method="post"
              novalidate>{% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Новый пароль</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
                <div class="invalid-feedback">Поле, обязательно для заполнения!</div>
            </div>
            <button type="submit" class="btn btn-primary">Изменить пароль</button>
        </form>
    </div>

{% endblock %}

{% block own_js %}
    <script>
        (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
{% endblock %}